body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.jc-spacebetween {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

h1,
h2,
h2,
h4 {
  margin: 0;
}

p {
  font-size: 14px;
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
  background-color: blue;
  color: white;
  border-radius: 10px;
  &-orange {
    background-color: orange;
    padding: 5px 10px;
    border-radius: 20px;
  }
  &-green {
    background-color: rgb(32, 186, 32);
    padding: 5px 10px;
    border-radius: 20px;
  }
}

.hero {
  .description {
    width: 50%;
    padding: 25px;
    h2 {
      font-size: 4em;
      line-height: 120%;
      width: 50%;
      letter-spacing: -2px;
    }
    h3 {
      color: rgb(221, 127, 142);
      font-size: 20px;
    }
    p {
      width: 50%;
      line-height: 180%;
    }
  }
  .image {
    width: 50%;
    padding: 25px;
  }
}

.responsive-img {
  width: 100%;
}

.services {
  padding: 20px;
  border: solid none;
  border-radius: 20px;
  background-color: rgb(248, 244, 244);
  h4 {
    border-radius: 20px;
    background-color: white;
    width: 50px;
    text-align: center;
  }
  .description {
    padding: 15px;
    width: 20%;
    img {
      width: 30%;
    }
  }
}

.special-box {
  border: solid none;
  background-color: white;
  border-radius: 20px;
  .special-pro {
    background-color: rgb(248, 244, 244);
  }
}

@media screen and (max-width: 800px) {
  .container {
    .services {
      display: flex;
      flex-wrap: wrap;
      .description {
        width: 40%;
      }
    }

    .hero {
      display: flex;
      flex-wrap: wrap;
      .description {
        width: 100%;
      }
      .image {
        width: 100%;
      }
    }
  }
}
