.navigation {
  position: relative;
  .header {
    .logo {
      color: rgb(113, 183, 8);
    }
    .iconmenu {
      width: 32px;
      display: none;
      @media screen and (max-width: 800px) {
        display: block;
      }
    }
    .menu a {
      padding: 10px;
      text-decoration: none;
      color: black;
    }
  }

  @media screen and (max-width: 800px) {
    .menu {
      display: none;
      position: static;
      a {
        display: inline;
        background: none;
      }
    }
    .login {
      display: none;
    }
    #menuon:checked ~ .menu {
      display: block;
      position: absolute;
      top: 90px;
      width: 90%;
      background-color: white;
      a {
        display: block;
        color: black;
        padding: 10px;
        box-sizing: border-box;
        border-bottom: 1px solid black;
      }
    }
  }
}

#menuon {
  display: none;
}
